/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    background-color: #fff;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #39CDCC;
}


/* header */

header {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    /* position: fixed;
    top: 0; */
}

header a {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 10px;
    color: #222222;
    margin-left: 5%;
}

.header_navigation {
    width: 20%;
    margin-left: 20%;
}

.header_home {
    color: #0082F3;
}

.fixed_button {
    width: 108px;
    height: 36px;
    background: #39CDCC;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1px 6px 6px 0px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #000000;
    transform: rotate(90deg);
    position: fixed;
    top: 78px;
    left: -40px;
}

/* main */

main {
    width: 85%;
    margin: 0 auto;
}

/* main - Get Instant Loans */

.instant {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.instant img {
    user-select: none;
    cursor: pointer;
}

.instant_text h1 {
    width: 80%;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    color: #333333;
    margin-bottom: 5%;
}

.instant_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
}

.instant_text_p {
    width: 90%;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
}


.instant_button {
    margin-top: 5%;
    width: 80%;
    display: flex;
}

.download {
    width: 147px;
    height: 50px;
    display: flex;
    align-items: center;
    background: #EEEAFF;
    padding: 10px;
    border-radius: 5px;
    margin-right: 8px;
    user-select: none;
    cursor: pointer;
}

.download_text {
    margin-left: 10px;
}

.download_text p {
    height: 30px;
    font-size: 10px;
}

/* main - Save on your own terms */

.save {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.save img {
    user-select: none;
    cursor: pointer;
}

.save_text h1 {
    width: 80%;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    color: #333333;
    margin-bottom: 5%;
}



.save_text_p {
    width: 50%;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
}

.save_button {
    margin-top: 5%;
    width: 80%;
    display: flex
}

.save_download {
    width: 147px;
    height: 50px;
    display: flex;
    align-items: center;
    background: #EEEAFF;
    padding: 10px;
    border-radius: 5px;
    margin-right: 8px;
    user-select: none;
    cursor: pointer;
}

.save_download_text {
    margin-left: 10px;
}

.save_download_text p {
    font-size: 10px;
    margin-top: 10px;
}

.save_download_text img {
    font-size: 10px;
    margin-top: 6px;
}

/* work */

.work {
    margin-top: 7%;
}

.work_title {
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    color: #333333;
    margin-bottom: 4%;
}


/* swiper   */

html,
body {
    position: relative;
    /* height: 100%; */
}

body {
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 1000px;
    height: 320px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    box-shadow: 0px 0px 10px #B7B7B7;
    cursor: pointer;
    user-select: none;
}

.swiper-slide-one {
    border-top: 12px solid #582EFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0 9%;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.swiper-slide-two {
    border-top: 12px solid #FF814A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0 7%;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.swiper-slide-three {
    border-top: 12px solid #31C5A1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0 7%;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}


/* swiper */

/* get */

.get {
    width: 100%;
    height: 35vh;
    margin-top: 3%;
    background-color: #31C5A1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.get_text {
    width: 40%;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.get_button {
    margin-top: 2%;
    display: flex
}

.get_download {
    width: 147px;
    height: 50px;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-right: 8px;
    user-select: none;
    cursor: pointer;
}

.get_download_text {
    margin-left: 10px;
}

.get_download_text p {
    font-size: 10px;
    margin-top: 10px;
}

.get_download_text img {
    font-size: 10px;
    margin-top: 6px;
}

/* footer */

footer {
    width: 100%;
    background-color: #fff;
    height: 30vh;
}

.footer_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #333333;
    margin-top: 5%;
}